## this homework 1 for machine learning lecture

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.svm as svm
from sklearn.model_selection import train_test_split,GridSearchCV,ShuffleSplit
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder,OneHotEncoder,OrdinalEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline

In [40]:
bank_data = pd.read_csv('bank.csv', sep=';')
bank_data = bank_data.dropna()
y = bank_data['y']
x = bank_data.drop(['y'], axis=1)
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other

In [41]:
ordinalEncoder = OrdinalEncoder()
oneHotEncoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
labelEncoder = LabelEncoder()

column_transformer = make_column_transformer(
    (ordinalEncoder,
     ['job', 'education', 'housing', 'loan', 'contact', 'month', 'poutcome']),
    (oneHotEncoder, [
        'age',
        'campaign',
        'pdays',
        'previous',
        'day',
        'marital',
        'default',
    ]),
    remainder='passthrough')

pipeline = Pipeline([('column_transformer', column_transformer),
                     ('scaler', StandardScaler()),
                     ('classifier',
                      KNeighborsClassifier(n_neighbors=5,
                                           metric='manhattan'))])

X_train, X_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=0)

pipeline.fit(X_train, y_train)
pipeline.score(X_test, y_test)

cv = ShuffleSplit(n_splits=10, test_size=0.3, random_state=0)
grid = GridSearchCV(pipeline,
                    param_grid={'classifier__n_neighbors': [1,2, 3 ,4,5,6,7,8,9,10]},
                    cv=cv)
grid.fit(X_train, y_train)
grid.score(X_test, y_test)

print(grid.best_params_)
print(grid.best_score_)
print(grid.score(X_test, y_test))

# categorical_cols = ['job','marital','education','default','housing','loan','contact','month','poutcome']
# numerical_cols = ['age','duration','campaign','pdays','previous','day']

In [ ]:
bank_data=bank_data.dropna()
y = bank_data['y']
x = bank_data.drop(['y'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)
bank_data
# knn = KNeighborsClassifier(n_neighbors=5)
# knn.fit(x_train, y_train)
# y_pred = knn.predict(x_test)
# print('Accuracy of KNN:', knn.score(x_test, y_test))

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no